:root {
  --background: 0 0% 100%;
  --foreground: 210 25% 7.8431%;
  --primary: 203.8863 88.2845% 53.1373%;
  --primary-foreground: 0 0% 100%;
  --radius: 1.3rem;
}

.dark {
  --background: 0 0% 0%;
  --foreground: 200 6.6667% 91.1765%;
  --primary: 203.7736 87.6033% 52.5490%;
  --primary-foreground: 0 0% 100%;
}
